<footer class="text-center mt-5 my-3 ">
        <div class="container">
        <img src="{{asset('build/images/php.png')}}" alt ="Logo Parlons Code " width="50" class="mb-2"> 
         <p class="text-muted">&copy;.Made.with.&lt;3 by <a href ="http://parlonscode.com">Parlons Code</a>.</p>
        </div>
</footer>